.name{
    appearance: none;
    font-family: "Courier New", Courier, monospace;
    border: 2px solid black;
    border-radius: 16px;
    font-size: 3rem;
    padding: 8px 16px;
    width: 100%;
    box-sizing: border-box;
    grid-column: 1/3;
}

.name:disabled{
    color: inherit;
}